* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #0f444b;
  background-color: rgb(224, 216, 216);
  font-family: Helvetica, Arial, sans-serif;
}

.flex-row {
  display: flex;
}

header {
  padding: 15px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  left: 0;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-weight: bold;
  margin: 20 px 0;
  font-size: 45px;
  color: antiquewhite;
}

header a {
  text-decoration: none;
  color: antiquewhite;
}

header nav {
  margin: 20px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  margin: 20px 0;
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 25px;
}

header nav ul li a:hover {
  background: rgb(224, 216, 216);
  color: #024e76;
  border-radius: 15px;
  text-shadow: none;
}

h1 {
  font-weight: bolder;
  margin: 20 px 0;
  font-size: 40px;
}

/*Subtitle and Banner*/
.subtitle-banner {
  background-image: url("../islam-portfolio/assets/Images/banner-industry-tech.jpg");
  background-size: cover;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
}
